.container {
    margin: auto;
}
.header {
    flex-direction:column;
    justify-content: baseline;
    align-items: flex-end;
    display: flex;
    background-color: red;
    width: 80%;
}
.top-menu {
    display: flex;
    width: 100%;
}

.top-menu-left-list{
    display: flex;
}
.top-menu-right-list {
    display: flex;
}
.main-menu-list {
    display: flex;
}