.container {
    width: 1136px;
    min-height: 700px;
    margin: auto;
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header, .menu, .top-menu, .top-menu-left-list, .top-menu-right-list,.main-menu-list, .top-menu-left {
    display: flex;
}
.header{
}

.menu {
    flex-direction:column;
    width: 100%;
}

.top-menu {
   justify-content: space-between; 
}
.top-menu-left {
    align-items:center;
}

.main-menu-list {
    justify-content: space-between; 
    
}

ul {
    margin: 4px;
    padding: 4px;
    list-style-type: none;
}
li {
    font-size: 9pt;  
    margin: 10px; 
}

li.logo {
    font-size: 11pt; 
    font-weight: 600; 
    color: #3A95FF;  
}

a.online, a.logo:visited {
    color: #3A95FF; 
    text-decoration: none;
    outline:none;
}
a.online, a.logo:hover {
    color: #3A95FF; 
    text-decoration: none;
    outline:none;
}
a.online, a.logo:link {
    color: #3A95FF; 
    text-decoration: none;
    outline:none;
}
.footer{
    display: flex;
}