@font-face {
    font-family: 'Giga Sans';
    src: url('../fonts/GigaSans-Medium.woff2') format('woff2'),
        url('../fonts/GigaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Giga Sans';
    src:url('../fonts/GigaSans-Regular.woff2') format('woff2'),
        url('../fonts/GigaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Giga Sans Semi';
    src: url('../fonts/GigaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/GigaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lighthaus';
    src: url('../fonts/Lighthaus.woff2') format('woff2'),
        url('../fonts/Lighthaus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

 /* служебные классы */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.flex-sb {
    justify-content: space-between;
}


.flex-ac {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.container {
    width: 1200px;
    margin: auto;
}

.text-gs {
    font-family: 'Lighthaus', sans-serif;
}
.text-lh {
    font-family: 'Giga Sans Semi', sans-serif;
}

.text-size-medium {

}

.uppercase {
    text-transform: uppercase;
}

/* верхнее меню */


.header {
    background-color: #FFFFFF;
    border-top: #045569 solid;
    border-top-width: 1px;
    height: 80px;
    border-bottom: #045569 solid;
    border-bottom-width: 1px;
}

.menu {
    width: 450px;
}

.menu--decor {
    list-style: none;
}

.menu__item {
    text-decoration: none;
    color: #045569;
}

.menu__item--tx-medium {
    font-size: medium;
}

.btn {
    border: 1px solid #045569;
    width: 100px;
    border-radius: 29%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(104, 79, 79);
    font-size: medium;
}

.btn--prim {
    height: 59px;
    width: 176px;
    background-color: #40467C;
}

.btn--sec {
    outline: 2px solid white;
    outline-offset: -2px;

}

/* Rooftop cinema */

.rooftop{
    margin-bottom: 80px;
}

.rooftop-cont {
    width: 455px;
    height: 382px;
    margin-right: 40px;
}



.rooftop__img {
    overflow: hidden;
    height: 750px;
    width: 1051px;
}
 
.rooftop--tx-big{
    font-size: 45px;
    font-weight: normal;
    color: #fff;
}
.rooftop--tx-medium 
{ 
    font-size: 30px;
    color: #B2B2D3;
}

.rooftop--tx-small{
    font-size: 25px;
    color: #B2B2D3; 
}
  
/* benefits */


.benefits {
   
}
.video {
    width: 606px;
    height: 524px;
}

.benefits--tx-big{
    margin: 40px;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
}

.benefits--tx-medium 
{ 
    font-size: 25px;
    color: white;
}

.benefits--tx-small{
    font-size: 20px;
    color: #B2B2D3; 
}
   
.benefits-cont--two-cols {
    margin: 20px;
    grid-template-columns: repeat(2,1fr)
}

.benefits-cont__item {
    margin: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}