@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(18, 21, 33, 1);
}

 /* служебные классы */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.flex-sb {
    justify-content: space-between;
    
}
.flex-ac {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.container {
    width: 1240px;
    margin: auto;
}

.text-js {
    font-family: 'Josefin Sans', sans-serif;
}
.text-dg {
    font-family: 'Darker Grotesque', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

/* верхнее меню */


.header {
    height: 140px;
}

.menu {
    width: 706px;
}

.menu--decor {
    list-style: none;
}

.menu__item {
    text-decoration: none;
    color: #fff;
}

/* Rooftop cinema */

.rooftop{
    
}

.rooftop-cont {
    width: 455px;
    height: 382px;
    margin-right: 40px;
}

.btn{
    height: 59px;
    width: 176px;
    margin-right: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
}

.btn--prim {
    background-color: #40467C;
}

.btn--sec {
    outline: 2px solid white;
    outline-offset: -2px;

}

.rooftop__img {
    overflow: hidden;
    height: 750px;
    width: 1051px;
}
 
.rooftop--tx-big{
    font-size: 45px;
    font-weight: normal;
    color: #fff;
}
.rooftop--tx-medium 
{ 
    font-size: 30px;
    color: #B2B2D3;
}

.rooftop--tx-small{
    font-size: 25px;
    color: #B2B2D3; 
}
  
/* benefits */


.benefits {
    
}
.video {
    width: 606px;
    height: 524px;
}

.benefits--tx-big{
    font-size: 40px;
    font-weight: normal;
    color: #fff;
}

.benefits--tx-medium 
{ 
    font-size: 25px;
    color: white;
}

.benefits--tx-small{
    font-size: 20px;
    color: #B2B2D3; 
}
   
.benefits-cont--two-cols {
    grid-template-columns: repeat(2,1fr)
}